* {
    font-family: Tahoma;
}
body {
    background-image: url("../img/bacgroundLogin.png");
    background-size: cover;
}
/*validate*/
.msg-error {
    color: red;
    font-size: 15px;
}

.msg-success {
    color: #3d9e66;
    font-size: 15px;
}

.loginbox {
    width: 420px;
    height: 520px;
    box-sizing: border-box;
    background: cadetblue;
    color: green;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    padding: 70px 30px;
}
.avatar {
    width: 100px;
    position: absolute;
    top: -50px;
    left:40%;
}

h1 {
    text-align: center;
}

.loginbox label {
    font-weight: bold;
}

.loginbox input[type="text"], input[type="password"]{
    border-bottom: 2px solid black;
    height: 30px;
    background: transparent;
    font-size: 18px;
    border-radius: 10px;
}

.loginbox input[type="button"] {
    border: none;
    background: red;
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
}

.row {
    margin:3% 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}